{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }} ({{ object.slug }})</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ object.image | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.body }}</li>
                    </ul>
                    <div class="card-footer text-centr">
                        Просмотры: {{ object.view_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}