{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container px-3 py-3 pt-md-5 pb-md-4">
    <div class="col-12 mb-5 pt-md-5">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'bloging:create' %}">Добавить отзыв</a>
        {% endif %}
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ object.image | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.body|slice:100 }}</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'bloging:detail' object.pk %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                            <a href="{% url 'bloging:update' object.pk %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                            <a href="{% url 'bloging:delete' object.pk %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}