{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Сброс пароля
                    </h3>
                </div>
                <div class="card-body">
                    {% if success_message %}
                    <p>{{ success_message }}</p>
                    <a href="{% url 'users:login' %}" class="btn btn-success">Войти в личный кабинет</a>
                    {% else %}
                    <form class="row" method="post">
                        {% csrf_token %}
                        <input type="email" name="email"  class="form-control" id="exampleInputEmail1">
                        <div id="emailHelp" class="form-text">Введите адрес электронной почты</div>
                    </form>
                </div>
                <button type="submit" class="btn btn-success">
                    Восстановить пароль
                </button>
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
