{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12 mt-5">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6 text-center mt-5">
            <div class="card">
                <div class="card-header">
                    <div class="cart-title">
                        <h3>Продукт</h3>
                    </div>
                </div>
                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-lg">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>

                </div>

            </div>
        </div>
        <div class="col-6 text-center mt-5">
            <div class="card">
                <div class="card-header">
                    <div class="cart-title">
                        <h3>Оптимальная версия</h3>
                    </div>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>

    </form>
</div>

{% endblock %}
