<!doctype html>
{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
    <a href="{% url 'catalog:create' %}" type="button" class="btn btn-lg btn-block mb-5 btn-outline-primary">Добавить Продукт</a>
    <div class="row text-center">
        {% for product in product_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ product.image | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ product.description|slice:100 }}</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">{{ product.price }} руб.</h4>
                    <a href="{% url 'catalog:product_view' product.pk %}" type="button" class="btn btn-lg btn-block mb-1 btn-outline-primary">Подробнее</a>
                    <a href="{% url 'catalog:update' product.pk %}" type="button" class="btn btn-lg btn-block mb-1 btn-outline-warning">Редактировать</a>
                    <a href="{% url 'catalog:delete' product.pk %}" type="button" class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    {% for status in product.version.all %}
                    <p> Активная версия:<strong> {{ status.name_version }} </strong> </p>
                    <p> Номер версии:<strong> {{ status.number_version }} </strong> </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}